.dashboard_container {
  margin: 50px auto;
  width: 90%;
  max-width: 1200px;
}

.dashboard_links_container {
  display: flex;
}

.dashboard_button_item {
  margin-right: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.75);
}

.dashboard_button_item_active {
  background-color: #ffffff;
  margin-right: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.75);
}

.dashboard_button_item:nth-child(2) {
  margin-right: 0;
}

.dashboard_result_container {
  background-color: white;
  box-shadow: 3px 3px 8px rgba(128, 128, 128, 0.349);
  height: 90vh;
}
