.header_container {
  background-color: #4286f5;
  box-shadow: 0 4px 2px -3px rgba(175, 175, 175, 0.37);
  padding: 8px;
}

.header_title {
  color: white;
  display: flex;
}

.header_title_icon {
  margin-right: 10px;
}
